In [2]:
import pandas as pd
pd.set_option('display.max_columns', None)

In [3]:
data1=pd.read_csv('data/diabetes_012_health_indicators_BRFSS2015.csv')
data2=pd.read_csv('data/diabetes_binary_5050split_health_indicators_BRFSS2015.csv')
data3=pd.read_csv('data/diabetes_binary_health_indicators_BRFSS2015.csv')
data1.head()

,Diabetes_012,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,Veggies,HvyAlcoholConsump,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income
0,0.0,1.0,1.0,1.0,40.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,5.0,18.0,15.0,1.0,0.0,9.0,4.0,3.0
1,0.0,0.0,0.0,0.0,25.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,3.0,0.0,0.0,0.0,0.0,7.0,6.0,1.0
2,0.0,1.0,1.0,1.0,28.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,5.0,30.0,30.0,1.0,0.0,9.0,4.0,8.0
3,0.0,1.0,0.0,1.0,27.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,2.0,0.0,0.0,0.0,0.0,11.0,3.0,6.0
4,0.0,1.0,1.0,1.0,24.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,2.0,3.0,0.0,0.0,0.0,11.0,5.0,4.0

In [79]:
data1['Diabetes_binary']=data1['Diabetes_012'].replace(2.0, 1.0)
data1.drop('Diabetes_012',axis=1,inplace=True)

In [73]:
data3.head()

,Diabetes_binary,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,Veggies,HvyAlcoholConsump,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income
0,0.0,1.0,1.0,1.0,40.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,5.0,18.0,15.0,1.0,0.0,9.0,4.0,3.0
1,0.0,0.0,0.0,0.0,25.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,3.0,0.0,0.0,0.0,0.0,7.0,6.0,1.0
2,0.0,1.0,1.0,1.0,28.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,5.0,30.0,30.0,1.0,0.0,9.0,4.0,8.0
3,0.0,1.0,0.0,1.0,27.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,2.0,0.0,0.0,0.0,0.0,11.0,3.0,6.0
4,0.0,1.0,1.0,1.0,24.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,2.0,3.0,0.0,0.0,0.0,11.0,5.0,4.0

In [ ]:
Diabetes_binary

In [80]:
patient_df=pd.concat([data1,data2,data3], axis=0)
patient_df.head()

,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,Veggies,HvyAlcoholConsump,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income,Diabetes_binary
0,1.0,1.0,1.0,40.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,5.0,18.0,15.0,1.0,0.0,9.0,4.0,3.0,0.0
1,0.0,0.0,0.0,25.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,3.0,0.0,0.0,0.0,0.0,7.0,6.0,1.0,0.0
2,1.0,1.0,1.0,28.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,5.0,30.0,30.0,1.0,0.0,9.0,4.0,8.0,0.0
3,1.0,0.0,1.0,27.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,2.0,0.0,0.0,0.0,0.0,11.0,3.0,6.0,0.0
4,1.0,1.0,1.0,24.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,2.0,3.0,0.0,0.0,0.0,11.0,5.0,4.0,0.0

In [81]:
patient_df=patient_df.drop_duplicates()
patient_df.shape

(234034, 22)

In [82]:
from faker import Faker
import pandas as pd
import numpy as np

# Set the number of patients
num_patients = len(patient_df)

# Create a Faker object
# Generate patient IDs and patient names
fake = Faker()
unique_numbers = random.sample(range(100000, 100000+num_patients), num_patients)

# Add the prefix "P" to each number
patient_ids = ['P' + str(num) for num in unique_numbers]

# patient_ids = np.arange(1, num_patients + 1)
patient_names = [fake.name() for _ in range(num_patients)]

# Define the list of medications
medications = ['Metformin', 'Insulin', 'Sulfonylureas', 'Statins', 'Antipsychotics', 'Thiazide diuretics',
         'Immunosuppressants', 'Beta-blockers']

# Generate random medication data (0/1 values) and period of usage
data = {
    'Patient_ID': patient_ids,
    'Patient_Name': patient_names
}

for med in medications:
    data[med] = np.random.randint(0, 2, size=num_patients)
    # data[f'{med}_Period'] = np.random.randint(1, 12, size=num_patients)

# Create the DataFrame
df = pd.DataFrame(data)


df.head()

,Patient_ID,Patient_Name,Metformin,Insulin,Sulfonylureas,Statins,Antipsychotics,Thiazide diuretics,Immunosuppressants,Beta-blockers
0,P317308,Robert Sloan,0,0,1,1,1,1,1,1
1,P187870,Tony Green,0,1,0,1,1,0,0,0
2,P160118,Dalton Rodriguez,0,0,1,1,1,1,0,1
3,P304985,Jermaine Coleman,1,1,1,1,1,1,0,1
4,P203095,Paige Christian DVM,1,0,0,0,1,0,1,1

In [83]:
df.to_csv('data/prescription.csv')

In [84]:
# Generate patient IDs and patient names
unique_numbers = random.sample(range(100000, 100000+num_patients), num_patients)

# Add the prefix "P" to each number
patient_ids = ['P' + str(num) for num in unique_numbers]

In [85]:
patient_df['Patient_ID']=patient_ids

In [63]:
patient_df

,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,Veggies,HvyAlcoholConsump,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income,Diabetes_binary,Patient_ID,Diabetes_01
0,1.0,1.0,1.0,40.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,5.0,18.0,15.0,1.0,0.0,9.0,4.0,3.0,NaN,P484117,0.0
1,0.0,0.0,0.0,25.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,3.0,0.0,0.0,0.0,0.0,7.0,6.0,1.0,NaN,P141030,0.0
2,1.0,1.0,1.0,28.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,5.0,30.0,30.0,1.0,0.0,9.0,4.0,8.0,NaN,P404872,0.0
3,1.0,0.0,1.0,27.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,2.0,0.0,0.0,0.0,0.0,11.0,3.0,6.0,NaN,P398076,0.0
4,1.0,1.0,1.0,24.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,2.0,3.0,0.0,0.0,0.0,11.0,5.0,4.0,NaN,P291641,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
253673,1.0,0.0,1.0,42.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,3.0,14.0,4.0,0.0,1.0,3.0,6.0,8.0,0.0,P533390,NaN
253674,0.0,0.0,1.0,27.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,3.0,6.0,5.0,0.0,P103213,NaN
253675,1.0,1.0,1.0,45.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,3.0,0.0,5.0,0.0,1.0,5.0,6.0,7.0,0.0,P455583,NaN
253677,0.0,0.0,1.0,28.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,2.0,5.0,2.0,0.0,P179666,NaN
253678,1.0,0.0,1.0,23.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,3.0,0.0,0.0,0.0,1.0,7.0,5.0,1.0,0.0,P146203,NaN

In [86]:
patient_df.to_csv('data/patient_data.csv')

In [36]:
import numpy as np 


fake = Faker()
patient_ids = np.arange(1, num_patients+1)
patient_names =[]
for i in range(num_patients):
    patient_names.append(fake.name())

drugs = ['Metformin', 'Insulin', 'Sulfonylureas', 'GLP-1 Agonists', 'DPP-4 Inhibitors']
drugs1= ['Glucocorticoids','Statins','Antipsychotics','Thiazide diuretics','Immunosuppressants','Beta-blockers']

drug_usage = np.random.choice(drugs, size=num_patients)

In [37]:
data = {
    'Patient_ID': patient_ids,
    'Patient_name': patient_names,
    'Drug_Usage': drug_usage
}

patient_Data = pd.DataFrame(data)

In [39]:
patient_Data

        Patient_ID     Patient_name        Drug_Usage
0                1   Belinda Flores  DPP-4 Inhibitors
1                2  Douglas Sampson     Sulfonylureas
2                3   Michael Parker           Insulin
3                4        Tina West         Metformin
4                5    Katrina Brown    GLP-1 Agonists
...            ...              ...               ...
459250      459251    Jasmine Davis     Sulfonylureas
459251      459252      Sandra Ruiz  DPP-4 Inhibitors
459252      459253    Jennifer Reed           Insulin
459253      459254  Jeremy Thompson         Metformin
459254      459255   Bryan Anderson           Insulin

[459255 rows x 3 columns]

In [48]:
import pandas as pd
import numpy as np
from faker import Faker
import random


num_patients=len(df)
# Set the number of patients
# num_patients = 10
unique_numbers = random.sample(range(100000, 100000+num_patients), num_patients)

# Add the prefix "P" to each number
patient_ids = ['P' + str(num) for num in unique_numbers]

# Display the list of numbers
# print(numbers_with_prefix)


# Generate patient IDs
# patient_ids = np.arange(1, num_patients+1)


patient_names =[]
for i in range(num_patients):
    patient_names.append(fake.name())
    
# Define the list of drugs
drugs = ['Metformin', 'Insulin', 'Sulfonylureas', 'GLP-1 Agonists', 'DPP-4 Inhibitors',
         'Glucocorticoids', 'Statins', 'Antipsychotics', 'Thiazide diuretics',
         'Immunosuppressants', 'Beta-blockers']

# Generate random medication data
max_medication_count = 3  # Maximum number of medications per patient
medication_counts = np.random.randint(1, max_medication_count + 1, size=num_patients)
medication_data = []
for count in medication_counts:
    medications = np.random.choice(drugs, size=count, replace=False)
    periods = np.random.randint(1, 24, size=count)  # Random period of usage (1-12 months)
    medication_data.append(list(zip(medications, periods)))

# Create the DataFrame
data = {
    'Patient_ID': [],
    'Medication': [],
    'Period_of_Usage': []
}

for patient_id, meds in zip(patient_ids, medication_data):
    data['Patient_ID'].extend([patient_id] * len(meds))
    data['Patient_Name'].extend([])
    data['Medication'].extend([med[0] for med in meds])
    data['Period_of_Usage'].extend([med[1] for med in meds])

df = pd.DataFrame(data)
df.head()

KeyError: 'Patient_Name'

In [49]:
unique_numbers = random.sample(range(100000, 100000+num_patients), num_patients)

# Add the prefix "P" to each number
patient_ids = ['P' + str(num) for num in unique_numbers]

In [50]:
len(patient_ids)

459255

In [14]:
import pandas as pd

# Pivot the DataFrame
pivot_df = pd.pivot_table(df, index='Patient_ID', columns=df.groupby('Patient_ID').cumcount().add(1), 
                          values='Medication', aggfunc='first').add_prefix('Medication')

# Rename the columns
pivot_df.columns = ['Medication1', 'Medication2', 'Medication3']

# Reset the index
pivot_df.reset_index(inplace=True)

# Display the expanded DataFrame
print(pivot_df.head())

   Patient_ID         Medication1     Medication2         Medication3
0           1  Immunosuppressants             NaN                 NaN
1           2           Metformin             NaN                 NaN
2           3             Insulin  Antipsychotics  Thiazide diuretics
3           4  Thiazide diuretics             NaN                 NaN
4           5             Statins             NaN                 NaN

   Patient_ID      Patient_Name  Metformin  Metformin_Period  Insulin  \
0           1  Benjamin Gardner          0                 7        1
1           2      David Graves          1                11        1
2           3    Brooke Barrett          1                 2        1
3           4       Dale Weaver          1                 6        1
4           5  Mr. Jon Hall Jr.          1                 4        0

   Insulin_Period  Sulfonylureas  Sulfonylureas_Period  Statins  \
0               3              1                     8        1
1               2              1                     8        0
2               2              1                     7        1
3               1              1                     8        0
4              10              0                     3        1

   Statins_Period  Antipsychotics  Antipsychotics_Period  Thiazide diuretics  \
0               5               0                      5                   1
1               3               1                      8                   0
2               3               1                      9                   0
3               8               0                      8                   0
4               3               0                      4                   1

   Thiazide diuretics_Period  Immunosuppressants  Immunosuppressants_Period  \
0                          4                   1                         10
1                          8                   0                          4
2                          4                   1                          1
3                         11                   0                         10
4                          3                   1                          3

   Beta-blockers  Beta-blockers_Period
0              1                     2
1              0                     6
2              1                    11
3              0                    10
4              1                     9

In [21]:
df.shape

(100, 18)

In [47]:
import random

# Set the number of unique numbers to generate
num_unique_numbers = 100

# Generate a list of unique numbers
unique_numbers = random.sample(range(100000, 100000+num_unique_numbers), num_unique_numbers)

# Add the prefix "P" to each number
numbers_with_prefix = ['P' + str(num) for num in unique_numbers]

# Display the list of numbers
print(numbers_with_prefix)

['P100095', 'P100049', 'P100096', 'P100068', 'P100048', 'P100064', 'P100017', 'P100074', 'P100090', 'P100025', 'P100075', 'P100097', 'P100022', 'P100071', 'P100008', 'P100087', 'P100021', 'P100094', 'P100060', 'P100036', 'P100043', 'P100058', 'P100070', 'P100011', 'P100077', 'P100078', 'P100044', 'P100028', 'P100088', 'P100083', 'P100089', 'P100004', 'P100076', 'P100092', 'P100046', 'P100041', 'P100014', 'P100000', 'P100098', 'P100073', 'P100023', 'P100002', 'P100052', 'P100079', 'P100042', 'P100051', 'P100032', 'P100072', 'P100091', 'P100033', 'P100034', 'P100040', 'P100081', 'P100053', 'P100056', 'P100099', 'P100026', 'P100006', 'P100020', 'P100039', 'P100067', 'P100065', 'P100084', 'P100009', 'P100001', 'P100047', 'P100031', 'P100066', 'P100007', 'P100035', 'P100063', 'P100086', 'P100038', 'P100003', 'P100024', 'P100055', 'P100015', 'P100082', 'P100061', 'P100059', 'P100012', 'P100016', 'P100080', 'P100030', 'P100085', 'P100005', 'P100018', 'P100054', 'P100027', 'P100037', 'P100050', 'P100045', 'P100029', 'P100062', 'P100069', 'P100010', 'P100057', 'P100093', 'P100019', 'P100013']

0.0    190055
1.0     39726
Name: Diabetes_01, dtype: int64

In [87]:
patient_df['Diabetes_binary'].value_counts()

0.0    194377
1.0     39657
Name: Diabetes_binary, dtype: int64